/* Reset counter at the start of each lesson */
.aula-container {
  counter-reset: h2counter;
}

.aula-container h2 {
  font-size: 1.6em;
  margin-top: 50px;
  border-bottom: 2px solid #ddd;
  counter-increment: h2counter;
  counter-reset: h3counter;
}

.aula-container h2::before {
  content: counter(h2counter) ".";
  font-weight: bold;
}

.aula-container h3 {
  font-size: 1.2em;
  margin-top: 30px;
  counter-increment: h3counter;
  margin-bottom: 5px;
}

.aula-container h3::before {
  content: counter(h2counter) "." counter(h3counter) ".";;
}

.aula-container h2::before,
.aula-container h3::before {
  display: inline-block;
  margin-right: 6px;
}

.aula-container h3 + p {
  margin-top: 0; /* remove space above paragraph ONLY when it follows h3 */
}

/* Control spacing when image is wrapped in <p> */
.aula-container p:has(img) {
  margin: 10px 0;
}

/* Control spacing when image is standalone */
.aula-container img {
  display: block;
  width: 600px;
  height: auto;
  margin: 0 auto;
}

/* shortcut to justify paragraphs*/
.jt {
  text-align: left;
}
