.jt {
  text-align: justify;
  text-justify: inter-word;
}

/* Boxed formula style */
.mathbox {
  background-color: #f5f5f5;  /* light grey */
  padding: 8px 12px;
  border-radius: 6px;
  display: inline-block;
  margin: 10px 0;
  font-size: 1.1em;
}
