/* text for phone */
@media (max-width: 768px) {
  body {
    font-size: 16px;
  }

  p {
    text-align: left;  /* justified text looks bad on mobile */
  }
  main.container-md,
  main.container-fluid {
    padding-top: 40px; /* adjust to your header height */
  }
}

  /* images for phone */
@media (max-width: 760px) {
  img {
    max-width: 100%;
    height: auto;
    }
}

/* title for phone */
/* Push page title below header on mobile */
@media (max-width: 768px) {
  /* Adjust page title spacing */
  main.container-md h1,
  main.container-fluid h1,
  main.container-md .page-header,
  main.container-fluid .page-header {
      margin-top: 150px;  /* adjust to match header height */
  }
}
