/* Sidebar Container */
.side-nav {
  height: 100%;       /* Full-height */
  width: 150px;       /* Set a fixed width */
  position: fixed;    /* Stay in place on scroll */
  left: 0px;
  top: 0px;
  background-color: #FFFFFF;
  border-right: 2px solid #333;
  overflow-y: auto;
}

/* Remove list bullets */
.side-nav ul {
  list-style-type: none;
  padding: 0;
  padding-top: 90px;
  padding-bottom: 50px;
  margin: 0;  
}

/* Style the links */
.side-nav li a {
  display: block;     /* Makes the whole area clickable */
  width: 100%;
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;
}

/* Hover effect */
.side-nav li a:hover {
  background-color: #555;
}

/* Offset main content so it doesn't overlap */
.content {
  margin-left: 150px;
  margin-right: 150px;
}

body.has-sidebar footer {
  margin-left: 150px;
}
