---
layout: base
show-topics-button: true
---

{% include header.html type="page" %}

<main class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
  <div class="row">
    <div class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}">
      {% if page.before-content %}
        <div class="before-content">
          {% for file in page.before-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

  <!--   <button id="menu-toggle">Tópicos ☰</button> -->
     <nav class="side-nav">
        <ul>
          <li><p style="font-style: Montserrat; font-weight: bold;color: #404040; text-decoration: underline;text-align: center;font-size: 1.5rem">TC</p> 
          <li><a href="/LSI/Aulas/TC/A1">1. Sistemas</a></li>
          <li><a href="/LSI/Aulas/TC/A2">2. Gases Ideais</a></li>
          <li><a href="/LSI/Aulas/TC/A3">3. Gases Reais</a></li>
          <li><a href="/LSI/Aulas/TC/A4">4. Fluidos</a></li>
          <li><a href="/LSI/Aulas/TC/A5">5. $\boldsymbol{B_{2V}}$</a></li>
          <li><a href="/LSI/Aulas/TC/A6">6. Lei Zero</a></li>
          <li><a href="/LSI/Aulas/TC/A7">7. 1<sup>a</sup> Lei</a></li>
          <li><a href="/LSI/Aulas/TC/teste">Teste</a></li>
        </ul>
      </nav>

      <div class="aula-container">
        {{ content }}
      </div>

      {% if page.after-content %}
        <div class="after-content">
          {% for file in page.after-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {% include comments.html %}
    </div>
  </div>
</main>
