---
layout: base
---

{% include header.html type="page" %}

<main class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
  <div class="row">
    <div class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}">
      {% if page.before-content %}
        <div class="before-content">
          {% for file in page.before-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

     <button id="menu-toggle">☰ Tópicos</button>
     <nav class="side-nav">
        <ul>
          <li><p style="font-weight: bold;color: #FA8072; text-decoration: underline;text-align: center;font-size: 1.5rem">TC</p> 
          <li><a href="/LSI/Aulas/TC/A1">1. Sistemas</a></li>
          <li><a href="/LSI/Aulas/TC/A2"><span class="initial">2.<span class="label"> Gases Ideais</span></a></li>
          <li><a href="/LSI/Aulas/TC/A3"><span class="initial">3.<span class="label"> Gases Reais</span></a></li>
          <li><a href="/LSI/Aulas/TC/A4"><span class="initial">4.<span class="label"> Fluidos</span></a></li>
          <li><a href="/LSI/Aulas/TC/A5"><span class="initial">5.<span class="label">  $B_{2V}$</span></a></li>
        </ul>
      </nav>

      {{ content }}

      {% if page.after-content %}
        <div class="after-content">
          {% for file in page.after-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {% include comments.html %}
    </div>
  </div>
</main>
