---
layout: base
---

{% include header.html type="page" %}

<main class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
  <div class="row">
    <div class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}">
      {% if page.before-content %}
        <div class="before-content">
          {% for file in page.before-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

     <button id="menu-toggle">☰</button>
     <nav class="side-nav">
        <ul>
          <li><p style="font-weight: bold;color: #FA8072; text-decoration: underline;text-align: center;font-size: 1.5rem">TE</p>
          <li><a href="/LSI/Aulas/TE/A1">Aula 1</a></li>
          <li><a href="/LSI/Aulas/TE/A2">Aula 2</a></li>
          <li><a href="/LSI/Aulas/TE/A3">Aula 3</a></li>
          <li><a href="/LSI/Aulas/TE/A4">Aula 4</a></li>
          <li><a href="/LSI/Aulas/TE/A5">Aula 5</a></li>
          <li><a href="/LSI/Aulas/TE/A6">Aula 6</a></li>
          <li><a href="/LSI/Aulas/TE/A7">Aula 7</a></li>
          <li><a href="/LSI/Aulas/TE/A8">Aula 8</a></li>
          <li><a href="/LSI/Aulas/TE/A9">Aula 9</a></li>
          <li><a href="/LSI/Aulas/TE/A10">Aula 10</a></li>
          <li><a href="/LSI/Aulas/TE/A11">Aula 11</a></li>
          <li><a href="/LSI/Aulas/TE/A12">Aula 12</a></li>
          <li><a href="/LSI/Aulas/TE/A13">Aula 13</a></li>
          <li><a href="/LSI/Aulas/TE/A14">Aula 14</a></li>
          <li><a href="/LSI/Aulas/TE/A15">Aula 15</a></li>
          <li><a href="/LSI/Aulas/TE/A16">Aula 16</a></li>
          <li><a href="/LSI/Aulas/TE/A17">Aula 17</a></li>
          <li><a href="/LSI/Aulas/TE/A18">Aula 18</a></li>
        </ul>
      </nav>

      {{ content }}

      {% if page.after-content %}
        <div class="after-content">
          {% for file in page.after-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {% include comments.html %}
    </div>
  </div>
</main>
