---
layout: base
---

{% include header.html type="page" %}

<main class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
  <div class="row">
    <div class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}">
      {% if page.before-content %}
        <div class="before-content">
          {% for file in page.before-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

     <button id="menu-toggle">Tópicos ☰</button>
     <nav class="side-nav">
        <ul>
          <li><p style="font-style: Montserrat; font-weight: bold;color: #404040; text-decoration: underline;text-align: center;font-size: 1.5rem">TE</p>
          <li><a href="/LSI/Aulas/TE/A1">1. Aula 1</a></li>
          <li><a href="/LSI/Aulas/TE/A2">2. Aula 2</a></li>
          <li><a href="/LSI/Aulas/TE/A3">3. Aula 3</a></li>
          <li><a href="/LSI/Aulas/TE/A4">4. Aula 4</a></li>
          <li><a href="/LSI/Aulas/TE/A5">5. Aula 5</a></li>
        </ul>
      </nav>

      <div class="aula-container">
        {{ content }}
      </div>

      {% if page.after-content %}
        <div class="after-content">
          {% for file in page.after-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {% include comments.html %}
    </div>
  </div>
</main>
